In [59]:
# Обеспечим совместимость с Python 2 и 3
# pip install future
from __future__ import (absolute_import, division,
                        print_function, unicode_literals)

# отключим предупреждения Anaconda
import warnings
warnings.simplefilter('ignore')

# импортируем Pandas и Numpy
import pandas as pd
import numpy as np
df = pd.read_csv('X_train.csv')
pd.set_option('display.max_columns', 20)
pd.set_option('display.max_rows', 1000)
cols = list(df.columns.values)
print(cols)

df_nes=df[['sku', 'categoryLevel2Id' , 'brandId', 'userName', 'reting' , 'comment' , 'commentNegative', 'commentPositive']]

#df_nes.head(n=100)
df_nes_learn=df_nes.head(n=10000)
df_nes_test=df_nes.tail(n=5550)
#df_nes_test.head()
#df_nes_learn.head()

['sku', 'categoryLevel1Id', 'categoryLevel2Id', 'brandId', 'property', 'userName', 'reting', 'date', 'comment', 'commentNegative', 'commentPositive']

In [55]:
df_nes_learn.head()

,sku,categoryLevel2Id,brandId,userName,reting,comment,commentNegative,commentPositive
0,20005023,4010201,826,b2898a81b45310b30beb8fc0c0a9ce1e,2.0,"2,5 года работала и все...устала! Лампочка гор...",NaN,NaN
1,20020647,4030101,1425,538c73d64461e13907bb95c51c38bfbc,2.0,Через 2 месяца после истечении гарантийного ср...,NaN,NaN
2,20020701,4010401,124,ddca2d0101513a6209db7868eed8be05,4.0,пользуюсь уже три недели. нареканий ни каких н...,NaN,NaN
3,30012256,2030301,93,289c20015b3713a82ba5ddf774d996f7,5.0,Ребят этот системный блок подойдёт для игры кс...,NaN,NaN
4,30011341,2050201,656,5576f82d149d4f688644fef2322c63ef,5.0,"я считаю, что яри замечательный телефон! Прият...",NaN,NaN

In [56]:
df_nes_test.head()

,sku,categoryLevel2Id,brandId,userName,reting,comment,commentNegative,commentPositive
10037,20023434,4050301,64,33b67031842d4c56d9dc03571081b77d,5.0,"Покупкой доволен,прежде чем купить изучал инос...",NaN,NaN
10038,20021798,4110104,10,fc7d8d59ae565bbc0d43d6a24d0f888f,5.0,Пылесос просто супер. очень довольны!,NaN,NaN
10039,20021697,4110102,80,6421219d872c945f8aa9dc434c923394,5.0,Пользуюсь месяц и не вижу ни каких проблем. Мо...,NaN,NaN
10040,11023744,1070908,13,3d801da09e7d82668e226799d9db91dc,2.0,Купил я этот телевизор Маме на день рождение. ...,NaN,NaN
10041,40054798,3030501,1542,560e1a279bae50a0248e626224828b4f,5.0,Лучшего симулятора я ещё не встречал. Хорошая ...,NaN,NaN

Всё нужное импортировали, можно писать код